.road-img-1{
  width: 90%;
}

.road-img-2{
  width: 55%;
}


.roadmap{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.road-head h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 55px;
  font-style: italic;
  font-weight: 800;
}

.road-head img {
  box-shadow: 10px 5px 49px 4px rgba(213,170,30,.93);
  left: 37.9%;
  margin-top: -2%;
  position: absolute;
  width: 23.5%;
  z-index: -8;
}

@media (max-width:768px) {
  .road-img-1{
    width: 90%;
  }
  
  .road-img-2{
    width: 90%;
  }
  
}



