@media (max-width:1800px) {
  


.roadmap .container{
  max-width: 1536px;
}
.roadmap-road {
  position: relative;
  display: grid;
  grid-template-columns: 22vw 22vw;
  justify-content: space-between;
  height: 55.5555555556vw;
}
.roadmap .box {
  padding: 5rem 8vw;
}

.roadmap .roadmap-road {
  position: relative;
  display: grid;
  grid-template-columns: 22vw 22vw;
  justify-content: space-between;
  height: 55.5555555556vw;
}
.roadmap .roadmap-road::before {
  content: "";
  position: absolute;
  top: -1.6%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.1875rem;
  border: 2px solid rgba(253, 220, 110, 1);
  height: 92%;
  background: yellow;
}

.roadmap .roadmap-road .left-roadmap > :not(:last-child),
.roadmap .roadmap-road .right-roadmap > :not(:last-child) {
  margin-bottom: 3vw;
}

.roadmap .roadmap-road .left-roadmap > :not(:last-child)::before,
.roadmap .roadmap-road .right-roadmap > :not(:last-child)::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background: linear-gradient(90deg, rgba(65, 97, 252, 0) 0%, #eff310 17.5%, #e1de08 79.48%, rgba(70, 197, 227, 0) 100%);
height: 0.125rem;
}

.roadmap .roadmap-road .left-roadmap,
.roadmap .roadmap-road .right-roadmap {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.roadmap .roadmap-road .left-roadmap .roadmap-card,
.roadmap .roadmap-road .right-roadmap .roadmap-card {
display: flex;
align-items: center;
justify-content: flex-start;
flex: 1;
}

.roadmap .roadmap-road .left-roadmap {
  height: 92%;
}

.roadmap .roadmap-road .right-roadmap {
  margin-top: 8vw;
}

.roadmap .roadmap-road .roadmap-card {
  position: relative;
  z-index: 10;
  padding-bottom: 2vw;
}

.roadmap .roadmap-road .roadmap-card-title {
  font-size: 1vw;
}

.roadmap .roadmap-road .left-roadmap .roadmap-card .roadmap-date {
  position: absolute;
  top: 40%;
  right: -9vw;
  transform: translateY(-50%);
  font-size: 0.9vw;
}

.roadmap .roadmap-road .left-roadmap .roadmap-card .roadmap-connector {
  position: absolute;
  top: 50%;
  right: -12vw;
  z-index: -1;
  width: 10vw;
  transform: translateY(-50%);
}

.roadmap .roadmap-road .right-roadmap .roadmap-card .roadmap-date {
  position: absolute;
  top: 40%;
  left: -9vw;
  transform: translateY(-50%);
  font-size: 0.9vw;
}

.roadmap .roadmap-road .right-roadmap .roadmap-card .roadmap-connector {
  position: absolute;
  top: 50%;
  left: -12vw;
  z-index: -1;
  width: 10vw;
  transform: rotateY(180deg) translateY(-50%);
}

  
}




@media (max-width:1536px) {
  
  .roadmap .container{
    max-width: 1320px;
  }

.roadmap-road {
  position: relative;
  display: grid;
  grid-template-columns: 22vw 22vw;
  justify-content: space-between;
  height: 55.5555555556vw;
}
.roadmap .box {
  padding: 5rem 8vw;
}

.roadmap .roadmap-road {
  position: relative;
  display: grid;
  grid-template-columns: 22vw 22vw;
  justify-content: space-between;
  height: 55.5555555556vw;
}
.roadmap .roadmap-road::before {
  content: "";
  position: absolute;
  top: -1.6%;
  left: 50%;
  transform: translateX(-50%);
  width: 0.1875rem;
  border: 2px solid rgba(253, 220, 110, 1);
  height: 92%;
  background: yellow;
}

.roadmap .roadmap-road .left-roadmap > :not(:last-child),
.roadmap .roadmap-road .right-roadmap > :not(:last-child) {
  margin-bottom: 3vw;
}

.roadmap .roadmap-road .left-roadmap > :not(:last-child)::before,
.roadmap .roadmap-road .right-roadmap > :not(:last-child)::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
background: linear-gradient(90deg, rgba(65, 97, 252, 0) 0%, #eff310 17.5%, #e1de08 79.48%, rgba(70, 197, 227, 0) 100%);
height: 0.125rem;
}

.roadmap .roadmap-road .left-roadmap,
.roadmap .roadmap-road .right-roadmap {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.roadmap .roadmap-road .left-roadmap .roadmap-card,
.roadmap .roadmap-road .right-roadmap .roadmap-card {
display: flex;
align-items: center;
justify-content: flex-start;
flex: 1;
}

.roadmap .roadmap-road .left-roadmap {
  height: 92%;
}

.roadmap .roadmap-road .right-roadmap {
  margin-top: 8vw;
}

.roadmap .roadmap-road .roadmap-card {
  position: relative;
  z-index: 10;
  padding-bottom: 2vw;
}

.roadmap .roadmap-road .roadmap-card-title {
  font-size: 1vw;
}

.roadmap .roadmap-road .left-roadmap .roadmap-card .roadmap-date {
  position: absolute;
  top: 40%;
  right: -9vw;
  transform: translateY(-50%);
  font-size: 0.9vw;
}

.roadmap .roadmap-road .left-roadmap .roadmap-card .roadmap-connector {
  position: absolute;
  top: 50%;
  right: -12vw;
  z-index: -1;
  width: 10vw;
  transform: translateY(-50%);
}

.roadmap .roadmap-road .right-roadmap .roadmap-card .roadmap-date {
  position: absolute;
  top: 40%;
  left: -9vw;
  transform: translateY(-50%);
  font-size: 0.9vw;
}

.roadmap .roadmap-road .right-roadmap .roadmap-card .roadmap-connector {
  position: absolute;
  top: 50%;
  left: -12vw;
  z-index: -1;
  width: 10vw;
  transform: rotateY(180deg) translateY(-50%);
}
}








  @media (max-width: 80em) {
    .roadmap .box {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
        border-radius: 1.25rem;
      }
  }

  @media (max-width: 64em) {
    .roadmap .cont-wrapper {
        width: 100%;
        margin: 0 auto;
      }

      .roadmap .box {
        background: linear-gradient(180deg, #000a26 0%, #02050e 100%);
        border-radius: 1.25rem;
        padding: 2.5rem 0rem;
        padding-bottom: 0;
      }

      .roadmap .roadmap-road {
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        justify-content: unset;
        height: auto;
        z-index: 1;
      }

      .roadmap .roadmap-road::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translateX(0);
        width: 0.1875rem;
        height: 100%;
        background: linear-gradient(#eff310, #edea0a);
        z-index: 10 !important;
      }
      .roadmap .roadmap-road > :not(:last-child) {
        margin-bottom: 2.5rem;
      }
       .roadmap .roadmap-road .left-roadmap > :not(:last-child),
      .roadmap .roadmap-road .right-roadmap > :not(:last-child) {
          margin-bottom: 2.5rem;
        }
    .roadmap .roadmap-road .left-roadmap,
    .roadmap .roadmap-road .right-roadmap {
            display: block;
          }
    .roadmap .roadmap-road .left-roadmap .roadmap-card,
    .roadmap .roadmap-road .right-roadmap .roadmap-card {
              display: block;
            }

    .roadmap .roadmap-road .left-roadmap .roadmap-card::before,
    .roadmap .roadmap-road .right-roadmap .roadmap-card::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background: linear-gradient(90deg, rgba(65, 97, 252, 0) 0%, #c4ac5c 17.5%, #bda54b 79.48%, rgba(70, 197, 227, 0) 100%);
                height: 0.125rem;
              }
.roadmap .roadmap-road .left-roadmap {
                height: auto;
              }
.roadmap .roadmap-road .right-roadmap {
                margin-top: 0;
              }
.roadmap .roadmap-road .left-roadmap .roadmap-card .roadmap-date,
.roadmap .roadmap-road .right-roadmap .roadmap-card .roadmap-date {
                position: static;
                font-size: 0.875rem;
                transform: unset !important;
                margin-bottom: 0.6rem;
              }
.roadmap .roadmap-road .left-roadmap .roadmap-card .roadmap-connector,
.roadmap .roadmap-road .right-roadmap .roadmap-card .roadmap-connector {
                display: none;
              }
.roadmap .roadmap-road .roadmap-card {
                position: relative;
                z-index: 1;
                padding-bottom: 2.5rem;
                display: flex !important;
                flex-direction: row !important;
                align-items: flex-start !important;
              }
.roadmap .roadmap-road .roadmap-card .roadmap-mobile-line {
                min-width: 30% !important;
                margin-right: 1.875rem;
                height: 100% !important;
                display: flex;
                display: flex;
                align-items: center;
                z-index: 1 !important;
                position: relative;
              }
.roadmap .roadmap-road .roadmap-card .roadmap-mobile-line::before {
                content: "";
                position: relative;
                z-index: -20 !important;
                width: 100%;
                height: 0.375rem;
                background: linear-gradient(90deg, #ffffff 0%, #bdac45 0.01%, #eaed29 47.99%, #c4ac58 88.93%);
              }
.roadmap .roadmap-road .roadmap-card .roadmap-mobile-line::after {
                content: "";
                min-width: 1.125rem;
                height: 1.125rem;
                border-radius: 50%;
                z-index: -10;
                margin-left: -0.3rem;
                background: linear-gradient(90deg, #ffffff 0%, #bdac45 0.01%, #eaed29 47.99%, #c4ac58 88.93%);
              }
.roadmap .roadmap-road .roadmap-card-title {
                font-size: 1rem;
              }
  }

  @media (max-width: 47.5em) {
.roadmap .roadmap-road .roadmap-card-title {
        font-size: 0.75rem;
      }
  }

  @media (max-width: 40em) {
    .roadmap .roadmap-road > :not(:last-child) {
        margin-bottom: 2.5rem;
      }
.roadmap .roadmap-road .left-roadmap > :not(:last-child),
.roadmap .roadmap-road .right-roadmap > :not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .roadmap .roadmap-road .roadmap-card {
    padding-bottom: 2.5rem;
  }

  .roadmap .roadmap-road .roadmap-card .roadmap-mobile-line {
    min-width: 18% !important;
    margin-right: 1.25rem;
  }
  .roadmap .roadmap-road .roadmap-card .roadmap-mobile-line::before {
    height: 0.25rem;
  }
  .roadmap .roadmap-road .roadmap-card .roadmap-mobile-line::after {
    min-width: 0.875rem;
    height: 0.875rem;
  }
  }

  @media (max-width: 47.5em){

  .road-mob{
    display: block !important;
  }
  .road-mob-2{
    display: none;
  }
  }

  .road-mob{
    display: none;
  }

  .road-head h1{
font-family: 'Poppins';
font-style: italic;
font-weight: 800;
font-size: 55px;

color: #FFFFFF;
  }
  .road-head img{
    margin-top: -2%;
    z-index: -8;
    position: absolute;
    width: 23.5%;
   
    left: 37.9%;
    box-shadow: 10px 5px 49px 4px rgb(213 170 30 / 93%);

  }
  .road-img-1{
    width: 94%;
  }

  .roadmap{
  
      background-image: url(../../images/game.png);
   
      background-size: inherit;
      background-repeat: repeat-y;
      background-position: center;
  
  
  
  }