.token{
    background: linear-gradient(180deg, #FDDC6E 0%, #D4A91E 100%);
}
.head-toko{
    text-align: center;
    align-items: center;
    padding: 4% 4%;

}
.head-toko h1{
    color: #000;
    font-style: italic;
font-weight: 800;
font-size: 75px;
text-decoration: underline;
text-transform: capitalize;
}
.toko-sub {
    padding-top: 2%;
    padding-bottom: 10%;
}
.toko-sub p{
    color: #000;
    padding-right: 18%;
    text-align: justify;
    font-size: 13px;
    /* word-spacing: 0px; */
    line-height: 18px;
}
.sub-2 p{
    color: #000;
    padding-left: 15%;
    text-align: justify;
    font-size: 13px;
    /* word-spacing: 0px; */
    line-height: 18px;
}
.toko-sub img{
    height: 88px;
   
}

.toko-img img{
    height: 100%;
    width: 98%;
    padding-top: 14%;


}
.img-1{
    position: absolute;
    left: 35%;

}
.img-2{
    position: absolute;
    right: 35%;
}
.img-3{
    position: absolute;
    left: 31%;
}
.pt-5{
    padding-top: 5%;
    padding-bottom: 5%;
}

.pt-10{
    padding-top: 11%;
}

.pt-8{
    padding-top: 1%;
    padding-bottom: 6%;

}
@media (max-width:768px) {
    .head-toko h1{
        font-size: 45px;
    }
    .img-1{
        position: unset;
    }
    .img-3{
        position: unset;
    }
    .img-2{
        position: unset;
    }
    
}
.toko-img-1{
    width: 72%;
}