.game-play{
    padding-top: 2%;
    padding-bottom: 5%;
}

.head-game{
    background-image: url(../../images/game.png);
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 10%;

}
.head-game h1{
    font-family: 'Poppins';
font-style: italic;
font-weight: 800;
font-size: 75px;

}
.head-game img{
    margin-top: -3%;
    z-index: -8;
    position: absolute;
    left: 35%;
    box-shadow: 10px 5px 49px 4px rgb(213 170 30 / 93%);
}
.game-box{
    background: linear-gradient(180deg, #E0E0E0 0%, #ABABAB 100%);
    border-radius: 40px;
    padding: 0% 2% 5% 2%;
    margin: 8%;
}
.game-box-img{
    position: absolute;
    width: 9%;
    padding: 2%;
    margin-top: -5%;
    margin-left: 3.4%;
    background: linear-gradient(180deg, #3D3D3D 0%, #000000 100%);
    box-shadow: 0px 13px 51px rgb(0 0 0 / 50%);
    border-radius: 20px;
}
.game-box-title{
    background: linear-gradient(180deg, #FDDC6E 0%, #D4A91E 100%);
    box-shadow: 0px 0px 53px rgb(0 0 0 / 25%);
    border-radius: 40px;
    padding: 25% 2% 11% 2%;
    width: 104%;
    margin-left: -6px;
    height: 100%;
}
.game-box-title h2{
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 33px;
    line-height: 100%;
    text-align: center;
    word-spacing: 30px;
    text-transform: uppercase;
    color: #000000;
}
.game-box-para{
    padding-top: 11%;
    text-align: justify;
    padding-left: 7%;
    font-size: 14px;
    padding-right: 7%;
    font-weight: 500;
    color: #000;
}
.lets-talk{
    background-image: url(../../images/game.png);
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 13%;
    padding-bottom: 10%;
}
.lets-talk img{
    height: 150px;
}
.lets-talk h2{
    font-weight: 800;
font-size: 20px;
}

@media only screen and (min-width: 1550px) and (max-width: 1950px) {
    .game-box-img{
       
        width: 8%;
   
      
        margin-left: 3%;
        
    }

    .head-game img {
        margin-top: -2.5%;
        z-index: -8;
        position: absolute;
        left: 37%;
        box-shadow: 10px 5px 49px 4px rgb(213 170 30 / 93%);
    }
	
}

@media (max-width:768px) {
    .head-game h1{
        font-size: 45px;
    }

    .head-game img {
        margin-top: -6%;
        width: 75%;
        left: 13%;
    }
    .game-box {
        margin: 8%;
    }
    .game-box-img {
        
        width: 39%;
        padding: 4%;
        margin-top: -5%;
        margin-left: 16.4%;
    }

    .game-box-title h2{
  
        font-size: 15px;
    
    }
}